/* Styling for the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #051129;
    padding: 10px;
    color: white;
  }
  
  /* Logo styles */
  .logo { 
    font-size: 1.5rem;
  }
  
  /* Navigation sections styles */
  .nav-sections {
    display: flex;
  }
  
  /* Navigation item styles */
  .nav-item { color: #A6FF35;
    margin-right: 20px;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }