/* Reset default styles and set a base font family */
body { 
  font-family:'Times New Roman', Times, serif;
color: #ffff;
margin: 0;
  padding: 0;
  background: rgb(23,25,118);
background: linear-gradient(90deg, rgba(23,25,118,1) 39%, rgba(0,220,207,1) 100%);

}

